.card {
  background: #efecec;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(90, 51, 51, 0.1);
  width: 300px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  margin: 20px auto;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  margin: 15px 0 5px;
  font-size: 22px;
  color: #333;
}

.card-desc {
  font-size: 14px;
  color: #666;
  padding: 0 15px 20px;
}